html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, font, img, q, ol, ul, li, form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
    /*header*/
        /*headertop*/
.headertop {
  min-height: 42px;
  background-color: #293449;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

.headertop p {
  float: left;
  font-size: 17px;
  font-family: 'Cuprum-Regular';
  color: #ffffff;
}
        /*logo*/
.logo {
  position: absolute;
  height: 46px;
  width: 220px;
}

.logo a {
  padding-top: 6px;
  display: block;
  height: 36px;
  border-bottom: 5px solid #b52933;
  border-top: 1px solid #b52933;
  background-color: #ee3643;
  text-align: center;
  font-size: 24px;
  font-family: 'Cuprum-Bold';
  color: #ffffff;
}

.logo a:hover {
  background-color: #ca2c37;
}

.logo a:active {
  background-color: #ba2732;
}

        /*search*/

.search {
  position: relative;
  float: left;
  margin-left: 220px;
}

.search form {
  background-color: inherit;
}

.search input, .search button {
  border: none;
  outline: none;
  background: transparent;
}

.search input {
  width:220px;
  height: 42px;
  padding-left: 50px;
  font-size: 17px;
  font-family: 'Cuprum-Regular';
  color: #ffffff;
}

.search button {
  position: absolute;
  top: 0;
  left: 0;
}

.search button::before {
  content: "\1f50d";
  position: absolute;
  top: 12px;
  left: 17px;
  font-size: 17px;
  line-height: 1em;
  font-family: "symbols-technomart";
  color: #bbc3cb;
}

input#text{
  font-weight: bold;
  color: #ffffff;
}

input#text:focus {
  background-color: #ffffff;
  color: #111111;
  outline:none;
}

input#text:hover ~ button::before  {
  color: #ffffff;
}

input#text:focus ~ button::before  {
  color: #ee3643;
}
        /*bookmarks & basket*/
.bookmarks {
  height: 42px;
}

.bookmarks a {
  display: block;
  padding-top: 8px;
  height: 34px;
  width: 150px;
}

.bookmarks a::before {
  content: "\1f516";
  display: inline-block;
  margin-right: 0.9em;
  margin-left: 1em;
  width: 1em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  color: #bbc3cb;
}

.basket {
  height: 42px;
}

.basket a {
  display: block;
  padding-top: 8px;
  height: 34px;
  width: 150px;
}

.basket a::before {
  content: "b";
  display: inline-block;
  width: 1em;
  margin-right: 0.9em;
  margin-left: 1em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  color: #bbc3cb;
}

.bookmarks a:hover::before,
.basket a:hover::before {
  color: #ffffff;
}

.bookmarks a:active,
.basket a:active,
.bookmarks a:active::before,
.basket a:active::before {
  color: #8b8e94;
  background-color: #161d29;
}

.order a {
  display: block;
  padding-top: 8px;
  width: 150px;
  height: 34px;
  text-align: center;
  background-color: #63a63e;
}

.order a:hover {
  background-color: #5fbb2d;
}

.order a:active {
  background-color: #518534;
  color: #a4bf94;
}

.headertop .container::after {
  content: "";
  display: table;
  clear: both;
}
        /*headerbottom*/
.headerbottom {
  min-height: 278px;
  background-color: #f1f5f7;
}

.headerbottom_main{
  min-height: 158px;
}
        /*description*/
.description {
  float: left;
  margin-left: 53px;
  margin-top: 42px;
  font-size: 16px;
  font-family: 'Cuprum-Italic';
  color: #ee3643;
}
        /*telefone address*/
.contacts_header {
   margin-top: 46px;
   margin-left: 71px;
   float: left;
}

.telefone {
  padding-top: 8px;
  height: 33px;
  width: 264px;
  border: 3px solid #ffffff;
  font-size: 21px;
  font-family: 'Cuprum-Regular';
  color: #e9292a;
}

.telefone::before {
  content: "\1f4de";
  display: inline-block;
  margin-right: 1.5em;
  margin-left: 0.7em;
  width: 1em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  color: #bbc3cb;
}

.address {
  font-size: 14px;
  font-family: 'Cuprum-Regular';
  line-height: 24px;
  text-align: center;
  color: #32425c;
}
        /*login*/
.login {
  float: left;
  margin-top: 46px;
  margin-left: 69px;
}

.entry {
  padding-top: 10px;
  float: left;
  width: 120px;
  height: 37px;
  background-color: #ffffff;
  font-size: 21px;
  font-family: 'Cuprum-Regular';
  color: #000000;
}

.entry a {
  display: block;
  height: 100%;
}

.entry a::before {
  content: "⎆";
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 0.5em;
  width: 1em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  color: #bbc3cb;
}

.checkin {
  float: left;
  padding-top: 10px;
  margin-left: 10px;
  width: 150px;
  height: 37px;
  background-color: #ffffff;
  text-align: center;
  font-size: 21px;
  font-family: 'Cuprum-Regular';
  color: #000000;
}

.checkin a {
  display: block;
  height: 100%;
}

.entry a:hover,
.checkin a:hover{
  color: #ee3643;
}

.entry a:hover::before {
  color: #32425c;
}

.entry a:active,
.checkin a:active,
.entry a:active::before {
  color: #b2b2b2;
}
        /*menu headerbottom*/
.menu_header li {
  display: inline-block;
}

.menu_header a {
  display: block;
  min-height: 33px;
  padding-top: 17px;
  border-bottom: 5px solid #293449;
  background-color: #32425c;
  text-align: center;
  font-size: 17px;
  font-family: 'Cuprum-Regular';
  color: #ffffff;

}

.menu_header li{
  margin-right: -4px;
  width: calc(100%/7);
}

.menu_header a:hover {
  background-color: #293449;
}

.menu_header a:active {
  color: #8e939c;
}
    /*main*/
        /*index*/
.index {
  margin: 50px -10px 43px -10px;

}

.index div {
  float: left;
  position: relative;
  width: 300px;
  height: 123px;
  margin: 10px 10px 10px 10px;
}

.index div h2 {
  margin: 26px 0 0 23px;
  font-size: 24px;
  font-family: 'Cuprum-Bold';
  color: #ffffff;
}

.index div p {
  margin: 10px 0 0 22px;
  width: 135px;
  height: 24px;
}

.index a {
  display: block;
  padding-top: 10px;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 14px;
  font-family: 'Cuprum-Regular';
  color: #ffffff;
}

.index a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.index a:active {
  background-color: rgba(0, 0, 0, 0.3);
}
        /*Материалы*/

.materials {
  background-color: #f6b22d;

}

.materials h2::after {
  content: url('img/materials.png');
  position: absolute;
  right: 40px;
  width: 2em;
}
        /*new*/
.materials::after {
  content: url('img/new.png');
  position: absolute;
  left: 240px;
  top:0px;
  margin-right: 0;
  margin-left: 0;
  width: 4em;
}
        /*tool*/
.tool {
  background-color: #4aafde;
}

.tool h2::after {
  content: url('img/tools.png');
  position: absolute;
  right: 40px;
  width: 3em;
}
        /*equipment*/
.equipment {
  background-color: #cc79d1;
}

.equipment h2::after {
  content: url('img/equipment.png');
  position: absolute;
  right: 40px;
  width: 3em;
}
        /*discounts*/
.discounts {
  background-color: #85d179;
}

.discounts h2::after {
  content: url('img/discont.png');
  position: absolute;
  right: 40px;
  width: 3em;
}
        /*delivery*/
.delivery {
  background-color: #f6b22d;
}

.delivery h2::after {
  content: url('img/delivery.png');
  position: absolute;
  right: 40px;
  width: 3em;
}
        /*slider*/
.index .slider {
  position: relative;
  width: 620px;
  height: 266px;
}

.slider h2 {
  margin-left: 26px;
  margin-top: 27px;
  font-family: 'Cuprum-Bold';
  font-size: 36px;
  color: #ffffff;
}

.index .slider p {
  padding-top: 0;
  margin: 0 0 0 23px;
  width: auto;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  font-family: 'Cuprum-Regular';
  font-size: 18px;
  color: #ffffff;
}

.slider .slider_button {
  z-index: 4;
  margin: 205px 0 0 26px;
  width: 196px;
  height: 28px;
}

.slider_button a {
  display: block;
  padding-top: 10px;
  width: 196px;
  height: 24px;
  background-color: #ee3643;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  text-align: center;
  font-family: 'Cuprum-Regular';
  font-size: 14px;
  color: #ffffff;
}

.slider a:hover {
  background-color: #ca2c37;
}

.slider a:active {
  background-color: #ba2732;
}

.slider .left {
  position: absolute;
  z-index: 4;
  left: 26px;
  top: 114px;
  margin: 0;
  height: 40px;
  width: 20px;
}

.slider .right {
  position: absolute;
  z-index: 4;
  right: 26px;
  top: 114px;
  margin: 0;
  height: 40px;
  width: 20px;
}

.slider .perforators {
  position: absolute;
  z-index: 2;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/slide_perforator.png');
}

.slider .drills {
  position: absolute;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/slide_drille.png');
}

.slider .left::before {
  content:  "<";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.5em;
  font-size: 40px;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  color: #ffffff;
}

.slider .right::after {
  content:  ">" ;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.5em;
  margin-top: 0em;
  margin-right: 0em;
  margin-left: ;
  font-size: 40px;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  color: #ffffff;
}

.slider h2::before {
  content: "";
  position: absolute;
  left: 295px;
  top: 220px;
  width: 6px;
  height: 6px;
  background: red;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.slider h2::after {
  content: "";
  position: absolute;
  left: 315px;
  top: 220px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 5px;
}

.right:active ~ .drills {
  z-index: 3;
}

.index::after {
  content: "";
  display: table;
  clear: both;
}


        /*topgoods*/

.topgoods {
  margin: 0 -10px;
}

        /*topheader*/

.topheader {
  margin: 10px auto 10px auto;
  max-width: 940px;
  min-height: 89px;
  background-color: #f7f3ec;
}

.topheader h2 {
  float: left;
  margin: 26px 0 0 30px;
  min-width: 367px;
  font-family: 'Cuprum-Regular';
  font-size: 30px;
}

.topheader p {
  float: left;
  margin: 25px 0 0 265px;
  padding-top: 10px;
  width: 249px;
  height: 24px;
  background-color: #ee3643;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  text-align: center;
  font-family: 'Cuprum-Regular';
  font-size: 14px;
  color: #ffffff;
}

.topheader::after {
  content: "";
  display: table;
  clear: both;
}

.goods {
  float: left;
  padding-top: 39px;
  margin: 10px 10px 10px 10px;
  width: 218px;
  height: 277px;
  border: 1px solid #f7f3ec ;
  text-align: center;
}

.goods h3 {
  margin-top: 41px;
  text-align: center;
  font-family: 'PTSans-Bold';
  font-size: 17px;
  color: #000000;
}

.goods p {
  margin-top: 12px;
  text-align: center;
  font-family: 'PTSans-Bold';
  font-size: 17px;
  color: #999999;
  text-decoration: line-through;
}

.new p {
  text-align: center;
  font-family: 'PTSans-Bold';
  font-size: 17px;
  color: rgba(0, 0, 0, 0);
}

.new {
  position: relative;
}

.new::after {
  content: url('img/new.png');
  position: absolute;
  right: -2px;
  top:0px;
  margin-right: 0;
  margin-left: 0;
  width: 4em;
}

.goods .button {
  position: relative;
  margin-top: 8px;
  padding-left: 9px;
  margin-left: 43px;
  padding-top: 9px;
  width: 109px;
  height: 27px;
  background-color: #ee3643;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px 0 0 4px;
  border-right: 2px solid #ee3643;
  text-align: center;
  font-family: 'Cuprum-Bold';
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
}

.goods .button::after{
  content: "";
  position: absolute;
  right: -42px;
  top: -2px;
  height: 0px;
  width: 0px;
  border: 20px solid transparent;
  border-left: 20px solid #ee3643;
}

.topgoods::after {
  content: "";
  display: table;
  clear: both;
}
        /*topbrands*/
.topbrands {
  margin: 0 -10px;
}

.logobrands {
  float: left;
  margin: 10px;
  width: 218px;
  height: 143px;
  border: 1px solid #f7f3ec;
  line-height: 143px;
  text-align: center;
}

.logobrands img {
  vertical-align: middle;
}

.topbrands::after {
  content: "";
  display: table;
  clear: both;
}
        /*services*/
.services {
  margin-top: 85px;
  padding-top: 65px;
  min-height: 457px;
  background-color: #f1f5f7;
}

.services h2 {
  font-family: 'Cuprum-Regular';
  font-size: 27px;
  color: #000000;
}

.services p {
  margin-top: 33px;
  font-family:'PTSans';
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}

.servises_main {
  margin-top: 77px;
}

.servises_main   h2 {
  font-size: 31px;
  color: #32425c;
}

.services_menu {
  position: relative;
  float: left;
  margin-right: 80px;
}

.services_menu li {
  padding-top: 18px;
  padding-left: 23px;
  width: 217px;
  height: 40px;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  font-family:'Cuprum-Regular';
  font-size: 20px;
  color: #ffffff;
}

.services_menu::after {
  content: url('img/vertical_line.png');
  position: absolute;
  right: 0px;
  top: -48px;
}

.services_delivery {
  position: relative;
  float: left;
  max-width: inherit;
  max-width: 275px;
}

.services_delivery::after {
  content: url('img/truck.png');
  position: absolute;
  left: 113px;
  top: 2px;
}

.services_delivery p {
  max-width: inherit;
}

.servises_main::after {
  content: "";
  display: table;
  clear: both;
}

.servises::after {
  content: "";
  display: table;
  clear: both;
}

.details {
  margin-top: 82px;
  min-height: 536px;
}

.details h2 {
  font-family: 'Cuprum-Regular';
  font-size: 27px;
  color: #000000;
}

.details p {
  margin-top: 33px;
  font-family:'PTSans';
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}

.about_us {
  max-width: 521px;
  float: left;
}

.about_us .button {
  padding-top: 7px;
  width: 220px;
  height: 27px;
  background-color: #ee3643;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  text-align: center;
  font-family: 'Cuprum-Regular';
  font-size: 14px;
  color: #ffffff;
}

.details li {
  position: relative;
  margin-left: 36px;
  margin-top: 20px;
  font-family:'Cuprum-Regular';
  font-size: 18px;
  color: #000000;
}

.details ul {
  margin-top: 20px;
}

.details li::before {
  content: "";
  left: -36px;
  top: 10px;
  width: 25px;
  border-top: 2px solid #fb565a;
  position: absolute;
}

.contacts {
  margin-left: 110px;
  float: left;
}

.contacts img {
  padding-top: 40px;
}

.contacts .button {
  padding-top: 7px;
  width: 220px;
  height: 27px;
  background-color: #ee3643;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  text-align: center;
  font-family: 'Cuprum-Regular';
  font-size: 14px;
  color: #ffffff;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.footertop {
  min-height: 193px;
  background-color: #32425c;
}

.logo_footer {
  float: left;
  max-width: 325px;
  min-height: 193px;
}

.logo_footer h1 {
  padding-top: 15px;
  height: 51px;
  width: 220px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  border-top: 1px solid #b52933;
  text-align: center;
  font-size: 30px;
  font-family: 'Cuprum-Bold';
  color: #ffffff;
}

.logo_footer p {
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Cuprum-Regular';
  color: #ffffff;
}

.footertop ul{
  float: left;
  margin-top: 42px;
  width: 100%;
  max-width: 615px;
  text-align: right;
}

.menu li {
  display: inline;
  margin-left: 60px;
  font-size: 17px;
  font-family: 'Cuprum-Regular';
  color: #ffffff;
}

.menu::after {
  content: "";
  display: table;
  clear: both;
}

.menu_index li {
  display: inline;
  margin-left: 60px;
  font-size: 17px;
  font-family: 'Cuprum-Regular';
  color: #f1c77e;
}

.menu_index::after {
  content: "";
  display: table;
  clear: both;
}

.box::after {
  content: "";
  display: table;
  clear: both;
}

.footerbottom {
  min-height: 107px;
  background-color: #293449;
}

.footerbottom p {
  float: left;
  margin-top: 40px;
  font-size: 17px;
  font-family: 'Cuprum-Regular';
  color: #ffffff;
}

.social {
  float: left;
  margin-left: 150px;
  margin-top: 40px;
}

.vk {
  float: left;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background: #212a3a;
  border-radius: 40px;
}

.vk::before {
  content: "v";
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 0.7em;
  margin-top: 10px;
  width: 1em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  color: #ffffff;
}

.facebook{
  float: left;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background: #212a3a;
  border-radius: 40px;
}

.facebook::before {
  content: "f";
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
  margin-left: 0.7em;
  margin-top: 10px;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  color: #ffffff;
}

.instagram {
  float: left;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background: #212a3a;
  border-radius: 40px;
}

.instagram::before {
  content: "\1f4f7";
  display: inline-block;
  width: 1em;
  margin-right: 0em;
  margin-left: 0.75em;
  margin-top: 10px;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  color: #ffffff;
}

.creators {
  display: inline;
  float: left;
  margin-left: 70px;
  margin-top: 40px;
  font-size: 17px;
  font-family: 'Cuprum-Regular';
  color: #ffffff;
}

.creators a {
  color: #f1c77e;
}

.creators ul {
  float: left;
  margin-left: 50px;
}
